*{
  padding:0;
  margin:0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content{
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  width:auto;
  margin: auto;
  align-items: center;
}

#userInput{
  font-size:30px;
  width:500px;
  text-align: center;
}

button{
  font-size:20px;
}

.list_of_items{
  
  text-align: center;
}

ul{
  display: inline-block;
  text-align: left;
}

li{
  font-size: 20px;
  list-style: none;
}

input[type="checkbox"]{
  zoom: 2;
}

.container{
  color:gray;

}

